@import "variavel.scss";

*{
    padding: 0;
    margin: 0;
}
body{
    //background-color: $azul1;
    background-image: url(/img/mohammad-rahmani-1bNQVGzuy0U-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
header{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: end;
    background-color: transparent;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    & .menu{
        display: flex;
        align-items: center;
        margin-right: 100px;
        & ul{
            list-style: none;
            display: flex;
            flex-direction: row;
            gap: 35px;
            & li{
                & a{
                    text-decoration: none;
                    color: $amarelo;
                    font-family: $font-bold-italic;
                    text-transform: uppercase;
                    &:hover{
                        animation: opacidade 3s infinite;
                    }
                    
                }
            }
            
        }
    }
    
}
main{
    & .principal{
        display: grid;
        grid-template-areas: 
        "social text";
        grid-template-columns: 5% 1fr;
        box-sizing: border-box;
        height: calc(100vh - 80px);
        padding: 40px;
        gap: 10px;
        & .name{
            grid-area: text;
            display: flex;
            flex-direction: column;
            align-self: end;
            padding-bottom: 100px;
            padding-left: 50px;
            & h2{
                font-family: $font-bold-italic;
                color: $amarelo;
           }
           & h1{
               font-family: $font-light-italic;
               font-size: 5rem;
               color: $amarelo;
           }
        }
        & .social{
            grid-area: social;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 30px;
            & .logos{
                border-radius: 50%;
                & span{
                    color: black;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    background-color: $amarelo;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &:hover{
                        animation: corBackground 3s infinite;
                    }
                }
            }
        }
    }
    & .sobre{
        border-radius: 10px;
        background-color: white;
        padding: 20px;
        & h1{
            padding-bottom: 10px;
            color: black;
            text-indent: 10px;
            text-transform: uppercase;
            font-family: $font-bold-italic;
            border-bottom: 2px solid $amarelo;
        }
        & p{
            color: black;
            padding: 20px 0px;
            text-indent: 30px;
            word-spacing: 9px;
            line-height: 30px;
            font-family: $font-regular;
        }
    }
    & .tech{
        background-image: url(/img/ehud-neuhaus-esCc1qx6TVw-unsplash.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        padding: 20px;
        color: $amarelo;
        font-family: $font-bold-italic;
        & h1{
            padding-bottom: 10px;
            color: $amarelo;
            text-indent: 10px;
            text-transform: uppercase;
            font-family: $font-bold-italic;
            border-bottom: 2px solid $amarelo;
        }
        & .box{
            width: 80%;
            margin: auto;
            display: grid;
            grid-template-areas: 
            "html css"
            "js sass";
            grid-template-columns: 50% 50%;
            grid-row: 1fr 1fr;
            & .box__tech{
                padding: 30px;
                display: flex;
                flex-direction: row;
                align-items: center;
                & img{
                    width: 100px;
                    padding-right: 20px;
                }
            }
            & .html{
                grid-area: html;
                margin-top: 50px;

            }
            & .css{
                margin-top: 50px;
                grid-area: css;
                border-left: 2px solid black;

            }
            & .js{
                grid-area: js;
            }
            & .sass{
                grid-area: sass;
                border-left: 2px solid black;
            }
        }
       
    }
 }

 @keyframes corBackground{
     50%{
        background-color: #f2d54454;
        color: white;

     }
     100%{
        color: black;
     }
 }

 @keyframes opacidade {
    0%{
        opacity: 1;
    }
    50%{
        opacity: .6;

    }
    100%{
        opacity: 1;

    }
 }
 